.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    user-select: none;
}

.image {
    height: 400px;
    width: 700px;
    border-radius: 16px;
    min-width: 100%;
}

.rightArrow {
    position: relative;
    left: 850px;
    font-size: 3rem;
    cursor: pointer;
    transition: color 300ms ease;
}

.leftArrow {
    position: relative;
    right: 54px;
    font-size: 3rem;
    cursor: pointer;
    transition: color 300ms ease;
}

.slide {
    opacity: 0;
    transition: 1s ease;
}

.slideActive {
    opacity: 1;
    transition: 1s;
    transform: scale(1.1);
}

.leftArrow:hover,
.rightArrow:hover {
    color: #403f3f;
}

.imageName {
    position: absolute;
    background-color: white;
    font-size: 15px;
    width: 250px;
    border-radius: 15px 15px 0 0 ;
    z-index: 15 ;
    height: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.imageName img {
    width: 250px;
    height: 160px;
    border-radius: 15px 15px 0 0 ;
}
.imageName strong {
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}


.imageName p {
    margin: 5px 10px 10px 10px;
    text-align: left;
}