.list {
    border: solid 2px darkmagenta;
    margin-top: 15px;
    width: 800px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.listRedactors {
    display: flex;
    align-items: center;
    margin: 5px;
}

.listEnter {
    transform: translateX(-500px);
}

.listEnterActive {
    transform: translateX(0px);
    transition: all 700ms ease-in;
}

.listExit {
    transform: translateX(0px);
}

.listExitActive {
    transform: translateX(-500px);
    transition: all 700ms ease-in;

}

.listDescription {
    display: flex;
    font-size: 20px;
    font-family: Arial, serif;
}

.listDescription p {
    margin-top: 0;
    margin-left: 10px;
}

.listDescription p:first-letter {
    font-size: 80px;
    color: red;
}

.listDescription strong {
    margin-top: 35px;
    font-size: 40px;
}