    #root{
    display: flex;
}
.Counter button{
    width: 80px;
    height: 25px;
    margin: 5px;
}
.Counter{
    border: 2px solid black;
    width: 180px;
    border-radius: 12px 12px 12px 12px;
}
.Counter h1{
    text-align: center;
}

.popup{
    border: 3px solid black;
    border-radius: 13px;
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    transition: height ease-in-out 0.3s, width ease-in-out 0.3s;
    right: 25px;
    top: 25px;
    background-color: rgba(255,243,238,0.82);
    cursor: pointer;

}
.popupHeader{
    display: none;
}
.popupHeader span{
    font-size: 35px;
    margin-left: 100px;
    cursor: pointer;
    height: 18px;
}
                /*STYLES LIST MAKER*/
.list{
    border: solid 2px darkmagenta;
    margin-top: 15px;
    width: 800px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.listRedactors {
    display: flex;
    align-items: center;
    margin: 5px;
}

.list-enter {
    transform: translateX(-500px);
}
.list-enter-active {
    transform: translateX(0px);
    transition: all 700ms ease-in;
}
.list-exit {
    transform: translateX(0px);
}
.list-exit-active {
    transform: translateX(-500px);
    transition: all 700ms ease-in;

}
.calculator {
    background: black;
    height: 400px;
    width: 300px;
    margin-top: 30px;
    border: solid gray 2px;
    border-radius: 3%;
    z-index: 0;
}
.screen {
    height: 100px;
    display: grid;
    justify-content: end;
    color: white;
    padding: 10px;
    align-items: end;
    font-size: 250%;
    font-family: Arial, serif;
}

.buttons{
    display: grid;
    grid-template-areas:
    "clearAll clear percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 4px;
    justify-items: center;
}
.btn {
    color: white;
    background: rgba(71,68,70,0.82);
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 50px;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
    font-family: Arial, serif;
    font-weight: bold;
}

.btn.zero {
    width: 100%;
    border-radius: 35px;
    grid-area: zero;
}
.orange {
    background-color: orange;
}
.light {
    background-color: gray;
    color: black;
}
th{
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    background-color: gray;
}
td{
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    background-color: white;
}
